@model IEnumerable<EnConTrackingSystem.Models.Program>
@{
    ViewBag.Title = EnConTrackingSystem.App_GlobalResources.Lang.Programs;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@EnConTrackingSystem.App_GlobalResources.Lang.Programs</h2>

<p>
    @Html.ActionLink(EnConTrackingSystem.App_GlobalResources.Lang.BtnNewProgram, "New", "Programs", null, new { @class = "btn btn-primary" })
</p>

<table id="programs" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@EnConTrackingSystem.App_GlobalResources.Lang.ProgramName</th>
            <th>@EnConTrackingSystem.App_GlobalResources.Lang.StartDate</th>
            <th>@EnConTrackingSystem.App_GlobalResources.Lang.EndData</th>
            <th>@EnConTrackingSystem.App_GlobalResources.Lang.Active</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $('#programs').DataTable({
                ajax: {
                    url: '/api/programs',
                    dataSrc: ''
                },
                columns: [
                    {
                        data: 'name',
                        render: function (data, type, program) {
                            return "<a href='/programs/details/" + program.id + "'>" + program.name + "</a>";
                        }
                    },
                    {
                        data: 'startDate',
                        className: 'dt-body-center',
                        render: function (data, type, program) {
                            var date = new Date(program.startDate);
                            return date.toISOString().slice(0, 10);
                        }
                    },
                    {
                        data: 'endDate',
                        className: 'dt-body-center',
                        render: function (data, type, program) {
                            var date = new Date(program.endDate);
                            return date.toISOString().slice(0, 10);
                        }
                    },
                    {
                        data: 'isActive',
                        render: function (data, type, program) {
                            return data ? "<span class='glyphicon glyphicon-ok'/> Active" : "<span class='glyphicon glyphicon-remove' /> Inactive";
                        }
                    }
                ]
            });

            $('#programs tbody').on('click', 'tr', function () {
                var program = table.row(this).data();
                $(location).attr('href', '/programs/details/' + program.id);
            });
        });
    </script>
}
