@model EnConTrackingSystem.ViewModels.ProjectFormViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<h2>@Model.ProgramId</h2>

@using (Html.BeginForm("Save", "Projects"))
{
    <div class="form-group">
        @Html.LabelFor(p => p.Name)
        @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.ProjectInvestment)
        @Html.TextBoxFor(p => p.ProjectInvestment, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.ProjectInvestment)
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.ProjectPrice)
        @Html.TextBoxFor(p => p.ProjectPrice, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.ProjectPrice)
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.ProjectInfo)
        @Html.TextAreaFor(p => p.ProjectInfo, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(p => p.Id)
    @Html.HiddenFor(p=>p.ProgramId)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
